<footer class="bg-light">
  <hr class="p-0 m-0 b-0" />
  <div class="bg-light py-2">
    <div class="container text-center">
      <p class="text-muted mb-0 py-2">
        © 2020 Powered by Tường Khâm & Thành Đông.
      </p>
    </div>
  </div>
</footer>
